
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="FINSIGHTS APPLICATION">
    <test name="Checking FinSights Application using Selenium and TestNG">
        <classes>
            <class name="com.seleniumpratice.seleniumpratice.NewSeleniumTest" />
        </classes>
    </test>
    
</suite>
 